<?xml version="1.0" encoding="utf-8"?>
<manifest
	  xmlns:android="http://schemas.android.com/apk/res/android"
	  android:versionName="@string/app_version" package="com.biophysics.radioplayer" android:versionCode="2">

    	<uses-sdk android:minSdkVersion="8" android:targetSdkVersion="16" android:maxSdkVersion="19"/>
    
    	
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>

	<application
		android:label="@string/app_name"
		android:icon="@drawable/icon">
		<activity
			android:label="@string/app_name"
			android:launchMode="singleTask"
		android:name="com.biophysics.radioplayer.AACPlayerActivity">
		            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
		
		        </activity>
		        
		
		<receiver android:name="com.biophysics.radioplayer.OutgoingCallReceiver">
			<intent-filter>
				<action android:name="android.intent.action.PHONE_STATE" />
			
			</intent-filter>
		</receiver>
		
	<receiver android:name="com.biophysics.radioplayer.IncomingCallReceiver">
			<intent-filter>
				<action android:name="android.intent.action.PHONE_STATE" />
				
			</intent-filter>
		</receiver>
        <receiver android:name=".MusicIntentReceiver">
            <intent-filter>
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
	</application>
</manifest> 
